{
    "nevents": {{ nevents }},
    "run_params": "{{ run_params }}",
    "apmass": {{ apmass }},
    "target_z": {{ target_z }},
    "run_number": {{ run_number }},
    "detector": "{{ detector }}",
    "seed": {{ 7936428 + job_id }},
    "output_files": {
        "ap_unweighted_events.lhe.gz": "lhe/ap_{{ job_id }}.lhe.gz",
        "ap_unweighted_events.stdhep": "egs5/ap_{{ job_id }}.stdhep",
        "ap_mom.stdhep": "stdhep/ap_{{ job_id }}.stdhep",
        "ap.slcio": "slic/ap_{{ job_id }}.slcio"
    },
    "output_dir": "/sdf/group/hps/users/sgaiser/src/hps-mc/prod/ap_gen_to_slic/output/{{run_params}}"
}
