# Compiled Python files
*.pyc

# Build and install dirs
build/
install/

# Eclipse project files
.cproject
.project
.pydevproject
.settings

# Doxygen
html/
latex/

!docs/html/
docs/html/*

# Prod output
prod/*/output*
