{
    "nevents": {{ nevents }}, 
    "run_params": "{{ run_params }}",
    "target_thickness": {{ target_thickness }},
    "beam_energy": {{ beam_energy }},
    "num_electrons": {{ num_electrons }},
    "target_z": {{ target_z }},
    "map": {% set map = "%0.2f"%(mrhod*rmap/rmrhod) %}{{map|float}},
    "mpid": {% set mpid = "%0.2f"%(mrhod*rmpid/rmrhod) %}{{mpid|float}},
    "mrhod": {{ mrhod }},
    "run_number": {{ run_number }},
    "seed": {{job_id + 879482}}, 
    "detector": "{{ detector }}",
    "disable_particle_table": true,
    "filter_no_cuts": true,
    "steering_files": {
        "readout": "{{ steering_readout }}",
        "recon": "{{ steering_reco }}"
    },
    "output_files": {
        "simp_rot.slcio": "mrhod_{{ mrhod }}/simp_{{ run_params }}_{{ job_id }}.slcio",
        "simp_rot_filt_readout_recon.slcio": "mrhod_{{ mrhod }}/recon/simp_{{ run_params }}_recon_{{ job_id }}.slcio"
    },
    "output_dir": "output/{{ detector }}"
}
