{
    "run_params": "${run_params}",
    "bunches": 500000,
    "seed": 1000001,
    "output_dir": "output/${run_params}/egs_v3",
    "output_files": {
        "beam.stdhep": "beam_egs_v3_${run_params}_${job_id}.stdhep"
    }
}
