**/.DS_Store
**/*.o
*/RunWeb
*/HTML/**
*/HTML/*/**
*/SubProcesses/run_*.dat
*/SubProcesses/P1_*/gensym
*/SubProcesses/P1_*/madevent
*/SubProcesses/P1_*/ajob*
*/SubProcesses/P1_*/G*/*
*/Source/param_card.inc
*/Source/run_card.inc
*/SubProcesses/randinit
*/SubProcesses/results.dat
*/*.log
*/crossx.html
*/index.html
*/ME5_debug
*/bin/internal/combine_events
