*.o
*/*.o
*/*/*.o
*/*/*/*.o
*/*/*/*/*.o
*/*/*/*/*/*.o
*/*/*/*/*/*/*.o
*/SubProcesses/run_*.dat
*/SubProcesses/P1_mumn_mumnemep/gensym
*/SubProcesses/P1_mumn_mumnemep/madevent
*/SubProcesses/P1_mumn_mumnemep/ajob*
*/SubProcesses/P1_mumn_mumnemep/G*/*
*/HTML/**
*/HTML/*/**
*/Source/param_card.inc
*/Source/run_card.inc
*/SubProcesses/randinit
*/SubProcesses/results.dat
*/crossx.html
*/index.html
*/ME5_debug
*/bin/internal/combine_events
