{
    "nevents": {{ nevents }},
    "run_params": "{{ run_params }}",
    "target_z": {{ target_z }},
    "run_number": {{ run_number }},
    "detector": "{{ detector }}",
    "output_files": {
        "RAD_unweighted_events.lhe.gz": "lhe/rad_{{ job_id|pad }}.lhe.gz",
        "RAD_unweighted_events.stdhep": "egs5/rad_{{ job_id|pad }}.stdhep",
        "rad_mom.stdhep": "stdhep/rad_{{ job_id|pad }}.stdhep",
        "rad.slcio": "slic/rad_{{ job_id|pad }}.slcio"
    },
    "output_dir": "output"
}
