{
    "nevents": {{nevents}},
    "run_params": "{{run_params}}",
    "target_z": {{target_z}},
    "run_number": {{run_number}},
    "detector": "{{detector}}",
    "ecal_hit_ecut": 0.05,
    "seed": {{14502100 + job_id}},
    "steering_files": {
        "readout": "/org/hps/steering/readout/PhysicsRun2019TrigSingles.lcsim",
        "recon": "/org/hps/steering/recon/PhysicsRun2019MCRecon.lcsim"
    },
    "output_files": {
        "tritrig-beam_readout.slcio": "{{detector}}/tritrig_beam_readout_{{job_id}}.slcio",
        "tritrig-beam_recon.slcio": "{{detector}}/tritrig_beam_recon_{{job_id}}.slcio",
        "beam_1.slcio":  "{{detector}}/beam/beam_4pt55_8um100nA_{{job_id*10-9}}.slcio",
        "beam_2.slcio":  "{{detector}}/beam/beam_4pt55_8um100nA_{{job_id*10-8}}.slcio",
        "beam_3.slcio":  "{{detector}}/beam/beam_4pt55_8um100nA_{{job_id*10-7}}.slcio",
        "beam_4.slcio":  "{{detector}}/beam/beam_4pt55_8um100nA_{{job_id*10-6}}.slcio",
        "beam_5.slcio":  "{{detector}}/beam/beam_4pt55_8um100nA_{{job_id*10-5}}.slcio",
        "beam_6.slcio":  "{{detector}}/beam/beam_4pt55_8um100nA_{{job_id*10-4}}.slcio",
        "beam_7.slcio":  "{{detector}}/beam/beam_4pt55_8um100nA_{{job_id*10-3}}.slcio",
        "beam_8.slcio":  "{{detector}}/beam/beam_4pt55_8um100nA_{{job_id*10-2}}.slcio",
        "beam_9.slcio":  "{{detector}}/beam/beam_4pt55_8um100nA_{{job_id*10-1}}.slcio",
        "beam_10.slcio": "{{detector}}/beam/beam_4pt55_8um100nA_{{job_id*10}}.slcio"
    },
    "input_files": {
        "/sdf/group/hps/mc/4pt55GeV/tritrig/8um100nA/tritrig_20um_rot_{{job_id}}.stdhep": "tritrig_events.stdhep",
        "/sdf/group/hps/mc/4pt55GeV/beam/8um100nA/beam_4pt55_8um100nA_{{job_id*10-9}}.stdhep": "beam_1.stdhep",
        "/sdf/group/hps/mc/4pt55GeV/beam/8um100nA/beam_4pt55_8um100nA_{{job_id*10-8}}.stdhep": "beam_2.stdhep",
        "/sdf/group/hps/mc/4pt55GeV/beam/8um100nA/beam_4pt55_8um100nA_{{job_id*10-7}}.stdhep": "beam_3.stdhep",
        "/sdf/group/hps/mc/4pt55GeV/beam/8um100nA/beam_4pt55_8um100nA_{{job_id*10-6}}.stdhep": "beam_4.stdhep",
        "/sdf/group/hps/mc/4pt55GeV/beam/8um100nA/beam_4pt55_8um100nA_{{job_id*10-5}}.stdhep": "beam_5.stdhep",
        "/sdf/group/hps/mc/4pt55GeV/beam/8um100nA/beam_4pt55_8um100nA_{{job_id*10-4}}.stdhep": "beam_6.stdhep",
        "/sdf/group/hps/mc/4pt55GeV/beam/8um100nA/beam_4pt55_8um100nA_{{job_id*10-3}}.stdhep": "beam_7.stdhep",
        "/sdf/group/hps/mc/4pt55GeV/beam/8um100nA/beam_4pt55_8um100nA_{{job_id*10-2}}.stdhep": "beam_8.stdhep",
        "/sdf/group/hps/mc/4pt55GeV/beam/8um100nA/beam_4pt55_8um100nA_{{job_id*10-1}}.stdhep": "beam_9.stdhep",
        "/sdf/group/hps/mc/4pt55GeV/beam/8um100nA/beam_4pt55_8um100nA_{{job_id*10}}.stdhep": "beam_10.stdhep"

    },
    "output_dir": "/sdf/home/b/bravo/sdf/src/hps-mc/examples/tritrig_beam_slic_to_recon/output"
}
