{
    "seed": ${seed},
    "nevents": ${nevents},
    "run_number": ${run_number},
    "detector": "${detector}",
    "input_files": {
        "${events_1}": "events.stdhep"
    },
    "output_files": {
      "events.slcio": "events_${detector}_${run_number}_${job_id}_${nevents}.slcio"
    },
    "output_dir": "output/${detector}"
}
