{
    "run_params": "{{ run_params }}",
    "bunches": 500000,
    "output_dir": "output/{{ run_params }}/egs5",
    "output_files": {
        "beam.stdhep": "beam_egs5_{{ run_params }}_{{ job_id }}.stdhep"
    }
}
