{
    "run_params": "{{ run_params }}",
    "run_number": {{ run_number }},
    "detector": "{{ detector }}",
    "steering_files": {
        "readout": "/org/hps/steering/readout/PhysicsRun2019TrigSingles.lcsim",
        "recon": "/org/hps/steering/recon/PhysicsRun2019MCRecon.lcsim"
    },
    "input_files": {
        "{{ input_files['tritrig'][0] }}": "signal.slcio",
        "{{ input_files['beam'][0] }}": "beam_1.stdhep",
        "{{ input_files['beam'][1] }}": "beam_2.stdhep",
        "{{ input_files['beam'][2] }}": "beam_3.stdhep",
        "{{ input_files['beam'][3] }}": "beam_4.stdhep"
    },
    "output_files": {
        "signal-beam_readout.slcio": "readout/tritrig-beam_${job_id}.slcio",
        "signal-beam_recon.slcio": "recon/tritrig-beam_${job_id}.slcio"
    },
    "output_dir": "output/2019/pass0"
}
