{
    "run_params": "${run_params}",
    "run_number": ${run_number},
    "detector": "${detector}",
    "steering_files": {
        "readout": "/org/hps/steering/readout/PhysicsRun2019TrigSingles.lcsim",
        "recon": "/org/hps/steering/recon/PhysicsRun2019MCRecon.lcsim"
    },
    "input_files": {
        "${tritrig_files_1}": "signal.slcio",
        "${beam_files_1}": "beam_1.stdhep",
        "${beam_files_2}": "beam_2.stdhep",
        "${beam_files_3}": "beam_3.stdhep",
        "${beam_files_4}": "beam_4.stdhep"
    },
    "output_files": {
        "signal-beam_readout.slcio": "readout/tritrig-beam_${job_id}.slcio",
        "signal-beam_recon.slcio": "recon/tritrig-beam_${job_id}.slcio"
    },
    "output_dir": "output/2019/pass0"
}
