{
    "bunches": {{ bunches }},
    "nevents": {{ nevents }},
    "run_params": "{{ run_params }}",
    "target_z": {{ target_z }},
    "run_number": {{ run_number }},
    "seed": {{ 61029001 + job_id }},
    "output_files": {
        "beam_rot_sampled.stdhep": "beam_{{run_params}}_20um120uA_{{ job_id }}.stdhep"
    },
    "output_dir": "output/{{run_params}}"
}
