{
    "detector" : "HPS_PhysicsRun2019-v2-FEE-Pass0",
    "input_files": {
        "{{input_files['hps'][0]}}" : "data_events.evio"
    },
    "output_files": {
        "data_events_hist.root" : "hps_{{run_number}}_evio_{{job_id}}_bl2dhisto.root"
    }, 
    "output_dir": "/w/hallb-scshelf2102/hps/rodwyer/baselines/scratch3/baselines{{run_number}}",
    "run_number": {{run_number}},
    "steering_files": {
        "recon": "/org/hps/steering/production/Evio2LcioCnv.lcsim"
    }, 
    "config_files": {
	"raw": "rawSvtHits_cfg.py",
	"hist": "anaSvtBl2D_cfg.py" 
    },
    "is_data": 1,
    "year": 2021
}
