{
    "nevents": {{ nevents }},
    "run_params": "{{ run_params }}",
    "target_thickness": {{ target_thickness }},
    "beam_energy": {{ beam_energy }},
    "num_electrons": {{ num_electrons }},
    "target_z": {{ target_z }},
    "seed": {{ 10399311 + job_id }},
    "run_number": {{ run_number }},
    "output_files": {
        "tritrig_mom_rot.stdhep": "tritrig_{{ run_params }}_{{ target_and_current }}_rot_{{ job_id }}.stdhep"
    },
    "output_dir": "output"
}