{
    {% set splitPath = input_files['data'][0].split('/') %}
    {% set run_number = splitPath[6].split('_')[1]|int %}
    {% set partition = splitPath[7].split('.')[2]|int %}
    {% set detector = 'HPS_PhysicsRun2019_Pass2' %}
    "input_files": {
        "{{input_files['data'][0]}}": "data_events.evio"
    },
    "output_files": {
        "data_events.slcio": "{{splitPath[6]}}_{{splitPath[7].split('.')[2]}}.slcio",
        "data_events.root": "{{splitPath[6]}}_{{splitPath[7].split('.')[2]}}.root"
    },
    "output_dir": "/cache/hallb/hps/physrun2019/production/pass0/{{splitPath[6]}}",
    "is_data": 1,
    "detector": "{{detector}}",
    "run_number": {{run_number}},
    "steering_files": {
        "recon": "/org/hps/steering/recon/PhysicsRun2019_pass0_recon_evio.lcsim"
    },
    "config_files": {
        "recon": "recoTuple_cfg.py"
    },
    "year": 2019
}
