{
    "nevents": {{ nevents }},
    "run_params": "{{ run_params }}",
    "target_thickness": {{ target_thickness }},
    "beam_energy": {{ beam_energy }},
    "num_electrons": {{ num_electrons }},
    "run_number": {{ run_number }},
    "target_z": {{ target_z }},
    "detector": "{{ detector }}",
    "seed": {{ 10399311 + job_id }},
    "input_files": {
        "/sdf/group/hps/mc/tritrig/gen/{{ run_params }}/tritrig_{{ run_params }}_{{ job_id }}.lhe.gz": "tritrig_unweighted_events.lhe.gz"
    },
    "output_files": {
        "tritrig_mom_rot.slcio": "tritrig_{{ run_params }}_{{ target_and_current }}_rot_{{ job_id }}.slcio"
    },
    "output_dir": "/sdf/group/hps/mc/tritrig/slic/{{ run_params }}/{{ detector }}"
}
