{
    "seed": {{ job_id + 1000000 }},
    "nevents": 1000,
    "run_params": "2pt3",
    "target_z": -4.3,
    "run_number": 7984,
    "detector": "HPS-PhysicsRun2016-Pass2",
    "steering_files": {
        "readout": "/org/hps/steering/readout/PhysicsRun2016TrigPairs1_NoTruth.lcsim",
        "recon": "/org/hps/steering/recon/PhysicsRun2016FullReconMC.lcsim"
    },
    "output_files": {
        "ptag:recon": "tritrig_recon_{{ job_id }}.slcio"
    },
    "output_dir": "output"
}
