{
    "nevents": ${nevents},
    "run_params": "${run_params}",
    "target_z": ${target_z},
    "run_number": ${run_number},
    "detector": "${detector}",
    "steering_files": {
        "readout": "/org/hps/steering/readout/PhysicsRun2016TrigPairs1_NoTruth.lcsim",
        "recon": "/org/hps/steering/recon/PhysicsRun2016FullReconMC.lcsim"
    },
    "run_mode": 0,
    "config_files": {
        "recon": "recoTuple_cfg.py",
        "ana": "anaVtxTuple_cfg.py"
    },
    "output_files": {
        "tritrig-beam_recon.slcio": "recon/tritrig-beam_recon_${job_id}.slcio"
    },
    "input_files": {
        "${tritrig_files_1}": "tritrig_events.lhe.gz",
        "${beam_files_1}": "beam_1.stdhep",
        "${beam_files_2}": "beam_2.stdhep",
        "${beam_files_3}": "beam_3.stdhep",
        "${beam_files_4}": "beam_4.stdhep"
    },
    "output_dir": "output/${run_params}/${detector}"
}
