{
    "seed": {{ job_id + 1000000 }},
    "nevents": {{ nevents }},
    "run_number": {{ run_number }},
    "detector": "{{ detector }}",
    "input_files": {
        "{{ input_files['events'][0] }}": "events.stdhep"
    },
    "output_files": {
      "events.slcio": "{{ detector }}_run_{{ run_number }}_{{ sequence|pad(5) }}.slcio"
    },
    "output_dir": "output/{{ detector }}"
}
