{
    "run_number": {{ run_number }},
    "bunches": {{ bunches }},
    "nevents": {{ nevents }},
    "seed": {{ 110001 + job_id }},
    "run_params": "{{ run_params }}",
    "target_thickness": {{ target_thickness }},
    "beam_energy": {{ beam_energy }},
    "num_electrons": {{ num_electrons }},
    "target_z": {{ target_z }},
    "output_files": {
        "WAB_unweighted_events.lhe.gz": "wab_unweighted_{{ run_params }}_{{ job_id }}.lhe.gz",
        "WAB_unweighted_events_rot.stdhep": "wab_unweighted_{{ run_params }}_rot_{{ job_id }}.stdhep"
    },
    "output_dir": "output"
}