{
    "nevents": 1000,
    "run_params": "${run_params}",
    "apmass": ${apmass},
    "ctau": 1.0,
    "target_z": -5.0,
    "seed": ${seed},
    "output_files": {
        "ap_unweighted_events_rot.stdhep": "aprime_${apmass}_${run_params}_${sequence}.stdhep"
    },
    "output_dir": "output/${run_params}/${apmass}"
}
